# dotfiles: collection of my dotfiles [configuration]
# Copyright (C) 2012-2016 Aleksa Sarai <cyphar@cyphar.com>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# * The above copyright notice and this permission notice shall be included in
#   all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[core]
	# Recommended kernel default. It's amazing how many things this breaks.
	abbrev = 12

	# Whitespace.
	whitespace=trailing-space,space-before-tab

[user]
	# XXX: Change this when you're using these configs.
	name  = Aleksa Sarai
	email = cyphar@cyphar.com

[commit]
	# Sign every commit. People have complicated views on this, but in
	# general I'm of the belief that not signing commits means that
	# you're putting far too much faith in maintainers manually
	# verifying source code before releasing it. We don't check every
	# line of code before signing a tag, so sign every commit I've
	# authored.
	gpgsign = true

[alias]
	# Very useful aliases for getting the state of a repo.
	id = "rev-parse --verify HEAD"
	lg = "log --graph --abbrev-commit \
	          --pretty=format:'%Cred%h %C(bold red)(%G?)%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar %C(bold green)%cr) %C(bold blue)<%an>%Creset'"
	# Short form for kernel comments.
	one = "show -s --pretty='format:%h (\"%s\")'"

	# Information about the current checked out repo.
	# These are just better versions of the defaults.
	st = "status --long"
	tg = "tag -l"
	br = "branch -v"
	re = "remote -v"

	# The obvious counterpart to git-grep.
	sed = !"sed() { git ls-files -z | xargs -0 sed -i -e \"$@\"; }; sed"

	# Updates and merging.
	up  = "pull --rebase"
	sup = "submodule foreach --recursive git pull origin master"
	sin = "submodule update --init --recursive"
	mm = "merge --no-ff"

	# Pulls / checks out a GitHub pull request from origin.
	# TODO: Improve this so it also works with Gogs and GitLab.
	pr = !"pr() { git fetch origin pull/$1/head:pr-$1; }; pr"
	cpr = !"cpr() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; cpr"

	# Commit all the things!
	cc = !"cc() { git add -A && git commit -av; }; cc"

	# Rebasing.
	reb = !"reb() { git rebase -i HEAD~$i; }; reb"

	# Finding commits.
	ft = !"ft() { git tag --contains $1; }; ft"
	fb = !"fb() { git branch -a --contains $1; }; fb"

	# Cleaning up a repo. Deletes commits already merged against master.
	dm = !"dm() { git branch --merged | grep -v '\\*' | xargs -n 1 -- git branch -d; }; dm"

	# Get the list of authors and commiters from a range-ish.
	la = !"la() { git log --pretty=format:'%aN <%ae>' $1 | sort -u; }; la"
	lc = !"lc() { git log --pretty=format:'%cN <%ce>' $1 | sort -u; }; lc"

	# Get the count of authors and commiters from a range-ish.
	lla = !"lla() { git log --pretty=format:'%aN <%ae>' $1 | sort | uniq -c | sort -k1 -nr; }; lla"
	llc = !"llc() { git log --pretty=format:'%cN <%ce>' $1 | sort | uniq -c | sort -k1 -nr; }; llc"

[color]
	# Enable colours because we're not in the 80s anymore, Toto.
	ui = true
	interactive = always

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
	upstream = red

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	func = yellow
	old = red
	new = green

[color "status"]
	added = green
	changed = yellow
	untracked = red

[color "grep"]
	filename = magenta
	linenumber = blue
	separator = cyan
	function = yellow

[credential]
	helper = cache

[merge]
	tool = vimdiff

[push]
	default = simple

[apply]
	# Make sure whitespace is clean when we commit it.
	whitespace = fix
