# dotfiles: collection of my personal dotfiles
# Copyright (C) 2012-2019 Aleksa Sarai <cyphar@cyphar.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

[submodule ".config/nvim/bundle/delimit-mate"]
	path = .config/nvim/bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".config/nvim/bundle/surround"]
	path = .config/nvim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/bundle/nerdcommenter"]
	path = .config/nvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".config/nvim/bundle/nerdtree"]
	path = .config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".config/nvim/bundle/csapprox"]
	path = .config/nvim/bundle/csapprox
	url = https://github.com/vim-scripts/CSApprox
[submodule ".config/nvim/bundle/supertab"]
	path = .config/nvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".config/nvim/bundle/go"]
	path = .config/nvim/bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule ".config/nvim/bundle/syntastic"]
	path = .config/nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".config/nvim/bundle/airline"]
	path = .config/nvim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/bundle/airline-themes"]
	path = .config/nvim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".config/nvim/bundle/rust"]
	path = .config/nvim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".config/nvim/bundle/bats"]
	path = .config/nvim/bundle/bats
	url = https://github.com/vim-scripts/bats.vim.git
[submodule ".config/mpv/scripts/subs2srs"]
	path = .config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule ".config/mpv/scripts/sub_skip"]
	path = .config/mpv/scripts/sub-pause-skip
	url = https://github.com/Ben-Kerman/mpv-sub-scripts
